//DK-START-GW2A18 V2.0

//MCU System Clock
IO_LOC "HCLK" M19;

IO_PORT "HCLK" IO_TYPE=LVCMOS33;

//MCU System Reset
IO_LOC "hwRstn" AB3;		//KEY1

IO_PORT "hwRstn" IO_TYPE=LVCMOS33;
/*
//LED
//IO_LOC "GPIO[0]" U18;	//LED1 --> SDCard Initial Flag
//IO_LOC "GPIO[1]" U19;	//LED2 --> SDCard check out
IO_LOC "GPIO[2]" U17;	//LED3
IO_LOC "GPIO[3]" T17;	//LED4
//IO_PORT "GPIO[0]" IO_TYPE=LVCMOS15;
//IO_PORT "GPIO[1]" IO_TYPE=LVCMOS15;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS15;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS15;

//KEY
IO_LOC "GPIO[4]" U20;	//KEY2
IO_LOC "GPIO[5]" T19;	//KEY3
IO_LOC "GPIO[6]" R18;	//KEY4

IO_PORT "GPIO[4]" IO_TYPE=LVCMOS15;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS15;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS15;

//JTAG
IO_LOC "JTAG_3" Y6;	//J3-3
IO_LOC "JTAG_4" AA6;
IO_LOC "JTAG_5" Y3;
IO_LOC "JTAG_6" AA3;
IO_LOC "JTAG_7" Y4;
IO_LOC "JTAG_8" Y5;
IO_LOC "JTAG_9" V6;
IO_LOC "JTAG_10" V7;
IO_LOC "JTAG_11" C11;
IO_LOC "JTAG_12" D10;
IO_LOC "JTAG_13" A11;
IO_LOC "JTAG_14" B11;
IO_LOC "JTAG_15" E10;
IO_LOC "JTAG_16" C9;
IO_LOC "JTAG_17" A9;
IO_LOC "JTAG_18" F10;	//J3-18

IO_PORT "JTAG_3" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_4" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_5" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_6" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_7" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_8" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_9" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_10" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_11" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_12" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_13" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_14" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_15" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_16" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_17" IO_TYPE=LVCMOS33;
IO_PORT "JTAG_18" IO_TYPE=LVCMOS33;
*/
//UART0
IO_LOC "UART0RXD" L20;		//J4-5
IO_LOC "UART0TXD" K20;		//J4-6

IO_PORT "UART0RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART0TXD" IO_TYPE=LVCMOS33;

/*
//UART1
IO_LOC "UART1RXD" J13;		//J4-7
IO_LOC "UART1TXD" H13;		//J4-8
IO_PORT "UART1RXD" IO_TYPE=LVCMOS25;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS25;

//Timer0
IO_LOC "TIMER0EXTIN" G13;	//J4_9
IO_PORT "TIMER0EXTIN" IO_TYPE=LVCMOS25;

//Timer1
IO_LOC "TIMER1EXTIN" L13;	//J4-10
IO_PORT "TIMER1EXTIN" IO_TYPE=LVCMOS25;
*/


/*
//I2C
IO_LOC "SCL" J16;			//J4-13			
IO_LOC "SDA" L12;			//J4-14
IO_PORT "SCL" IO_TYPE=LVCMOS25;
IO_PORT "SDA" IO_TYPE=LVCMOS25;

//SPI
IO_LOC "MOSI" K13;			//J4-15
IO_LOC "MISO" K11;			//J4-16
IO_LOC "SCLK" J11;			//J4-17
IO_LOC "NSS" J14;			//J4-18
IO_PORT "MOSI" IO_TYPE=LVCMOS25;
IO_PORT "MISO" IO_TYPE=LVCMOS25;
IO_PORT "SCLK" IO_TYPE=LVCMOS25;
IO_PORT "NSS" IO_TYPE=LVCMOS25;
*/


/*
//Ethernet
//RGMII Interface
//PHY1
IO_LOC "RGMII_TXC" N10;
IO_LOC "RGMII_TX_CTL" R11;
IO_LOC "RGMII_TXD[0]" P11;
IO_LOC "RGMII_TXD[1]" P12;
IO_LOC "RGMII_TXD[2]" P13;
IO_LOC "RGMII_TXD[3]" T11;
IO_LOC "RGMII_RXC" T12;
IO_LOC "RGMII_RX_CTL" R14;  
IO_LOC "RGMII_RXD[0]" R12;
IO_LOC "RGMII_RXD[1]" T13;
IO_LOC "RGMII_RXD[2]" R13;
IO_LOC "RGMII_RXD[3]" T14;
IO_LOC "MDC" M10;
IO_LOC "MDIO" N11;
IO_PORT "RGMII_TXC" IO_TYPE=LVCMOS33;//PHY1_GTXCLK
IO_PORT "RGMII_TX_CTL" IO_TYPE=LVCMOS33;//PHY1_TX_EN
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS33;//PHY1_TXD0
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS33;//PHY1_TXD1
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS33;//PHY1_TXD2
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS33;//PHY1_TXD3
IO_PORT "RGMII_RXC" IO_TYPE=LVCMOS33;//PHY1_RXC
IO_PORT "RGMII_RX_CTL" IO_TYPE=LVCMOS33;//PHY1_RX_DV
IO_PORT "RGMII_RXD[0]" IO_TYPE=LVCMOS33;//PHY1_RXD0
IO_PORT "RGMII_RXD[1]" IO_TYPE=LVCMOS33;//PHY1_RXD1
IO_PORT "RGMII_RXD[2]" IO_TYPE=LVCMOS33;//PHY1_RXD2
IO_PORT "RGMII_RXD[3]" IO_TYPE=LVCMOS33;//PHY1_RXD3
IO_PORT "MDC" IO_TYPE=LVCMOS33;//PHY_MDC
IO_PORT "MDIO" IO_TYPE=LVCMOS33;//PHY_MDIO
*/

//SD-Card
IO_LOC "SD_CLK" H19;//SD_CLK
IO_LOC "SD_CS" L21;//SD_CD/D3
IO_LOC "SD_DATAIN" J19;//SD_D0
IO_LOC "SD_DATAOUT" D19;//SD_CMD
IO_LOC "SD_CARD_INIT" U17;//LED3
IO_LOC "SD_CHECKOUT" U18;//LED1
IO_LOC "SD_CHECKIN" H18;//SD_SWITCH

IO_PORT "SD_CLK"      IO_TYPE=LVCMOS33 SINGLE_RESISTOR=OFF;
IO_PORT "SD_CS"       IO_TYPE=LVCMOS33 SINGLE_RESISTOR=OFF;
IO_PORT "SD_DATAIN"   IO_TYPE=LVCMOS33 SINGLE_RESISTOR=OFF;
IO_PORT "SD_DATAOUT"  IO_TYPE=LVCMOS33 SINGLE_RESISTOR=OFF;
IO_PORT "SD_CHECKIN" IO_TYPE=LVCMOS33;
IO_PORT "SD_CARD_INIT" IO_TYPE=LVCMOS33;
IO_PORT "SD_CHECKOUT" IO_TYPE=LVCMOS33;


//SPI-Flash
IO_LOC "FLASH_SPI_CSN" N18;
IO_LOC "FLASH_SPI_MISO" P19;
IO_LOC "FLASH_SPI_MOSI" P20;
IO_LOC "FLASH_SPI_CLK" P18;

IO_PORT "FLASH_SPI_CSN" IO_TYPE=LVCMOS33;
IO_PORT "FLASH_SPI_MISO" IO_TYPE=LVCMOS33;
IO_PORT "FLASH_SPI_MOSI" IO_TYPE=LVCMOS33;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33;
