# Written by Synplify Pro version mapgw2020q1p1, Build 004R. Synopsys Run ID: sid1597310888 
# Top Level Design Parameters 

# Clocks 
create_clock -period 7.002 -waveform {0.000 3.501} -name {video_top|I_clk} [get_ports {I_clk}] 
create_clock -period 11.057 -waveform {0.000 5.529} -name {_~dvi2rgb_DVI_RX_Top__|O_rgb_clk_inferred_clock} [get_pins {DVI_RX_Top_inst/dvi2rgb_inst/u_clkdiv5/CLKOUT}] 
create_clock -period 6.667 -waveform {0.000 3.333} -name {_~rgb2dvi_DVI_TX_Top__|serial_clk_inferred_clock} [get_pins {DVI_TX_Top_inst/rgb2dvi_inst/TMDSTX_PLL_inst/CLKOUT}] 
create_clock -period 6.667 -waveform {0.000 3.333} -name {_~dvi2rgb_DVI_RX_Top__|hdmi_dclk_inferred_clock} [get_pins {DVI_RX_Top_inst/dvi2rgb_inst/TMDSRX_PLL_inst/CLKOUTP}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list video_top|I_clk]
set Autoconstr_clkgroup_1 [list _~dvi2rgb_DVI_RX_Top__|O_rgb_clk_inferred_clock]
set Autoconstr_clkgroup_2 [list _~rgb2dvi_DVI_TX_Top__|serial_clk_inferred_clock]
set Autoconstr_clkgroup_3 [list _~dvi2rgb_DVI_RX_Top__|hdmi_dclk_inferred_clock]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1 -group $Autoconstr_clkgroup_2 -group $Autoconstr_clkgroup_3

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 


# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

