//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.6.01Beta
//Part Number: GW2A-LV18PG484C8/I7
//Created Time: Thu 09 03 14:24:39 2020

IO_LOC "I_clk" M19;
IO_LOC "I_rst_n" AB3;
IO_LOC "I_key1" T20;
IO_LOC "I_sw1" R19;

IO_LOC "O_led[0]" U18;
IO_LOC "O_led[1]" U19;
IO_LOC "O_led[2]" U17;
IO_LOC "O_led[3]" T17;

IO_PORT "I_clk" IO_TYPE=LVCMOS33;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS33;
IO_PORT "I_key1" IO_TYPE=LVCMOS15;
IO_PORT "I_sw1" IO_TYPE=LVCMOS15;

IO_PORT "O_led[0]" IO_TYPE=LVCMOS15;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS15;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS15;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS15;

/////////////////////////////
//DDR3
IO_LOC "O_ddr_ba[0]"    F4  ;  //DDR3_BA0
IO_LOC "O_ddr_ba[1]"    T4  ;  //DDR3_BA1
IO_LOC "O_ddr_ba[2]"    F3  ;  //DDR3_BA2
IO_LOC "O_ddr_addr[0]"  F1  ;  //DDR3_A0
IO_LOC "O_ddr_addr[1]"  V5  ;  //DDR3_A1
IO_LOC "O_ddr_addr[2]"  G6  ;  //DDR3_A2
IO_LOC "O_ddr_addr[3]"  E5  ;  //DDR3_A3
IO_LOC "O_ddr_addr[4]"  V3  ;  //DDR3_A4    
IO_LOC "O_ddr_addr[5]"  F2  ;  //DDR3_A5
IO_LOC "O_ddr_addr[6]"  Y22 ;  //DDR3_A6
IO_LOC "O_ddr_addr[7]"  H5  ;  //DDR3_A7
IO_LOC "O_ddr_addr[8]"  AB22;  //DDR3_A8
IO_LOC "O_ddr_addr[9]"  H4  ;  //DDR3_A9
IO_LOC "O_ddr_addr[10]" P5  ;  //DDR3_A10
IO_LOC "O_ddr_addr[11]" Y21 ;  //DDR3_A11
IO_LOC "O_ddr_addr[12]" T5  ;  //DDR3_A12
IO_LOC "O_ddr_addr[13]" AA1 ;  //DDR3_A13

IO_LOC "O_ddr_ras_n"    D1;    //DDR3_RASn
IO_LOC "O_ddr_cas_n"    D3;    //DDR3_CASn
IO_LOC "O_ddr_we_n"     C2;    //DDR3_WEn
IO_LOC "O_ddr_cke"      E4;    //DDR3_CK_EN
IO_LOC "O_ddr_odt"      B3;    //DDR3_ODT
IO_LOC "O_ddr_reset_n"  V4;    //DDR3_RSTn
IO_LOC "O_ddr_clk"      P22, R22;   //DDR3_CKp,n

IO_LOC "IO_ddr_dq[0]"  M5;  //DDR3_DQ0
IO_LOC "IO_ddr_dq[1]"  T3;  
IO_LOC "IO_ddr_dq[2]"  M4;  
IO_LOC "IO_ddr_dq[3]"  T2;  
IO_LOC "IO_ddr_dq[4]"  Y1;  
IO_LOC "IO_ddr_dq[5]"  U1;  
IO_LOC "IO_ddr_dq[6]"  N4;  
IO_LOC "IO_ddr_dq[7]"  V1;  
IO_LOC "IO_ddr_dq[8]"  R1;
IO_LOC "IO_ddr_dq[9]"  K3;
IO_LOC "IO_ddr_dq[10]" P1;
IO_LOC "IO_ddr_dq[11]" J1;
IO_LOC "IO_ddr_dq[12]" K5;
IO_LOC "IO_ddr_dq[13]" H3;
IO_LOC "IO_ddr_dq[14]" M2;
IO_LOC "IO_ddr_dq[15]" H2;

IO_LOC "O_ddr_dqm[0]" P3;      //DDR3_LDM
IO_LOC "O_ddr_dqm[1]" K4;      //DDR3_UDM

IO_LOC "IO_ddr_dqs[0]"    P4, R4;       //DDR3_LDQSp,n
IO_LOC "IO_ddr_dqs[1]"    L2, L1;       //DDR3_UDQSp,n

IO_PORT "O_ddr_ba[0]"     IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_ba[1]"     IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_ba[2]"     IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[0]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[1]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[2]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[3]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[4]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[5]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[6]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[7]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[8]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[9]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[10]"  IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[11]"  IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[12]"  IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_addr[13]"  IO_TYPE=SSTL15 BANK_VCCIO=1.5;

IO_PORT "O_ddr_cs_n"      IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_ras_n"     IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_cas_n"     IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_we_n"      IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_cke"       IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_odt"       IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_reset_n"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_clk"       IO_TYPE=SSTL15D BANK_VCCIO=1.5;

IO_PORT "IO_ddr_dq[0]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[1]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[2]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[3]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[4]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[5]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[6]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[7]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[8]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[9]"   IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[10]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[11]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[12]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[13]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[14]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dq[15]"  IO_TYPE=SSTL15 VREF=INTERNAL BANK_VCCIO=1.5;

IO_PORT "O_ddr_dqm[0]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;
IO_PORT "O_ddr_dqm[1]"   IO_TYPE=SSTL15 BANK_VCCIO=1.5;

IO_PORT "IO_ddr_dqs[0]"  IO_TYPE=SSTL15D BANK_VCCIO=1.5;
IO_PORT "IO_ddr_dqs[1]"  IO_TYPE=SSTL15D BANK_VCCIO=1.5;

//======================================
//HDMI4 TX
IO_LOC "O_tmds_data_p[2]" A11,A12;
IO_LOC "O_tmds_data_p[1]" B6,A6;
IO_LOC "O_tmds_data_p[0]" A9,A10;
IO_LOC "O_tmds_clk_p"     A2,A3;

IO_LOC "O_clk_74M_p"     D4, C4;//A15,B15;

//IO_LOC "I_tmds_clk_p"      B11, B12;
//IO_LOC "I_tmds_data_p[2]"  D4, C4  ;
//IO_LOC "I_tmds_data_p[1]"  D5, D6  ;
//IO_LOC "I_tmds_data_p[0]"  C7, C8  ;
//
//IO_PORT "O_tmds_data_p[2]"       IO_TYPE=LVCMOS12D;
//IO_PORT "O_tmds_data_p[1]"       IO_TYPE=LVCMOS12D;
//IO_PORT "O_tmds_data_p[0]"       IO_TYPE=LVCMOS12D;
//IO_PORT "O_tmds_clk_p"           IO_TYPE=LVCMOS12D;

//=====================================================




// cmos单目
//IO_LOC "cmos_reset" K22;
//IO_LOC "cmos_sda" AB13;
//IO_LOC "cmos_scl" AB14;
//IO_LOC "cmos_d[7]" AB18;
//IO_LOC "cmos_d[6]" AB17;
//IO_LOC "cmos_d[5]" Y13;
//IO_LOC "cmos_d[4]" V12;
//IO_LOC "cmos_d[3]" AA16;
//IO_LOC "cmos_d[2]" AB16;
//IO_LOC "cmos_d[1]" Y12;
//IO_LOC "cmos_d[0]" V13;
//IO_LOC "cmos_pclk" AA15;
//IO_LOC "cmos_href" AB19;
//IO_LOC "cmos_vsync" AB15;


// cmos双目1
IO_LOC "cmos_reset" V14;
IO_LOC "cmos_sda" C22;
IO_LOC "cmos_scl" F22;
IO_LOC "cmos_d[7]" D22;
IO_LOC "cmos_d[6]" J22;
IO_LOC "cmos_d[5]" G21;
IO_LOC "cmos_d[4]" E22;
IO_LOC "cmos_d[3]" V16;
IO_LOC "cmos_d[2]" U16;
IO_LOC "cmos_d[1]" V15;
IO_LOC "cmos_d[0]" G22;
IO_LOC "cmos_pclk" W19;
IO_LOC "cmos_href" H22;
IO_LOC "cmos_vsync" V19;

//cmos双目2
//IO_LOC "cmos_reset" W18;
//IO_LOC "cmos_sda" W17;
//IO_LOC "cmos_scl" Y18;
//IO_LOC "cmos_d[7]" Y20;
//IO_LOC "cmos_d[6]" AA20;
//IO_LOC "cmos_d[5]" Y15;
//IO_LOC "cmos_d[4]" W16;
//IO_LOC "cmos_d[3]" Y19;
//IO_LOC "cmos_d[2]" AA17;
//IO_LOC "cmos_d[1]" Y17;
//IO_LOC "cmos_d[0]" W15;
//IO_LOC "cmos_pclk" W14;
//IO_LOC "cmos_href" W13;
//IO_LOC "cmos_vsync" W12;

IO_LOC "I_clk_27M" AB12;

IO_PORT "cmos_reset" IO_TYPE=LVCMOS33;
IO_PORT "cmos_sda" IO_TYPE=LVCMOS33;
IO_PORT "cmos_scl" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[7]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[6]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[5]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[4]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[3]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[2]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[1]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_d[0]" IO_TYPE=LVCMOS33;
IO_PORT "cmos_pclk" IO_TYPE=LVCMOS33;
IO_PORT "cmos_href" IO_TYPE=LVCMOS33;
IO_PORT "cmos_vsync" IO_TYPE=LVCMOS33;
IO_PORT "I_clk_27M" IO_TYPE=LVCMOS33;