# Written by Synplify Pro version mapgw, Build 1564R. Synopsys Run ID: sid1589421248 
# Top Level Design Parameters 

# Clocks 
create_clock -period 6.667 -waveform {0.000 3.333} -name {_~dvi2rgb_DVI_RX_Top_|hdmi_dclk_inferred_clock} [get_pins {dvi2rgb_inst/TMDSRX_PLL_inst/CLKOUTP}] 
create_clock -period 6.478 -waveform {0.000 3.239} -name {_~dvi2rgb_DVI_RX_Top_|O_rgb_clk_inferred_clock} [get_pins {dvi2rgb_inst/u_clkdiv5/CLKOUT}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list _~dvi2rgb_DVI_RX_Top_|hdmi_dclk_inferred_clock]
set Autoconstr_clkgroup_1 [list _~dvi2rgb_DVI_RX_Top_|O_rgb_clk_inferred_clock]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 


# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

