/***********************************************************************
 Physical Constraint file 
 Version:1.8.1Alpha
 Created Time:   Thu Jul 05 14:09:24 2018
 Device:         GW2A-18
 Package:        LQFP144
************************************************************************/
IO_LOC "IO_a[0]" 106;
IO_LOC "IO_a[1]" 105;
IO_LOC "IO_a[2]" 102;
IO_LOC "IO_a[3]" 101;
IO_LOC "IO_a[4]" 100;
IO_LOC "IO_a[5]" 99;
IO_LOC "IO_a[6]" 98;
IO_LOC "IO_a[7]" 97;
IO_LOC "IO_a[8]" 90;
IO_LOC "IO_a[9]" 88;
IO_LOC "I_clk" 11;
IO_LOC "O_hs_clk_p" 56, 57;
IO_LOC "O_hs_d0_p" 66, 67;
IO_LOC "O_hs_d1_p" 62, 63;
IO_LOC "O_hs_d2_p" 60, 61;
IO_LOC "O_hs_d3_p" 68, 69;
IO_LOC "O_lcd_led_en" 32;
IO_LOC "O_lcd_led_pwm" 33;
IO_LOC "O_lp_clk_n" 43;
IO_LOC "O_lp_clk_p" 42;
IO_LOC "O_lp_d0_n" 45;
IO_LOC "O_lp_d0_p" 44;
IO_LOC "O_lp_d1_n" 41;
IO_LOC "O_lp_d1_p" 40;
IO_LOC "O_lp_d2_n" 39;
IO_LOC "O_lp_d2_p" 38;
IO_LOC "O_lp_d3_n" 47;
IO_LOC "O_lp_d3_p" 46;
IO_LOC "RST_n" 82;
IO_LOC "R4_in_p" 111, 110;
IO_LOC "R5_in_p" 113, 112;
IO_LOC "R6_in_p" 115, 114;
IO_LOC "R7_in_p" 117, 116;
IO_LOC "RCLK1_in_p" 121, 120;
IO_LOC "R0_in_p" 132, 131;
IO_LOC "R1_in_p" 134, 133;
IO_LOC "R2_in_p" 138, 137;
IO_LOC "R3_in_p" 140, 139;
IO_LOC "RCLK_in_p" 123, 122;
IO_PORT "I_clk"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "RST_n"  IO_TYPE=LVCMOS25;
IO_PORT "O_lp_clk_p"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_clk_n"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d0_p"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d0_n"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d1_p"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d1_n"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d2_p"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d2_n"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d3_p"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lp_d3_n"  IO_TYPE=LVCMOS12 BANK_VCCIO=1.2;
IO_PORT "O_lcd_led_en"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "O_lcd_led_pwm"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[0]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[1]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[2]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[3]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[4]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[5]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[6]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[7]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[8]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
IO_PORT "IO_a[9]"  IO_TYPE=LVCMOS25 BANK_VCCIO=2.5;
