//
// Written by Synplify Pro 
// Product Version "Q-2020.03G-Beta1"
// Program "Synplify Pro", Mapper "mapgw2020q1p1, Build 004R"
// Tue Aug 11 18:53:29 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\generic\gw2a.v "
// file 1 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\vlog\hypermods.v "
// file 2 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\users\gowin\desktop\ceshi\ethernet_g\ethernet_g\src\gbit_phy_test_rgmii.v "
// file 6 "\d:\gowin\gowin_v1.9.6beta\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
module Gbit_PHY_test_RGMII (
  clk,
  I_rst_n,
  O_phy_mdc,
  IO_phy_mdio,
  O_phy1_txd,
  O_phy1_txen,
  O_phy1_gtxclk,
  I_phy1_rxd,
  I_phy1_rxdv,
  I_phy1_rxc,
  test_d,
  test_dv,
  O_rst_n
)
;

/*  Synopsys
.origName=Gbit_PHY_test_RGMII
.langParams="DELAY_VALUE"
DELAY_VALUE=0
 */
input clk ;
input I_rst_n ;
output O_phy_mdc ;
output IO_phy_mdio ;
output [3:0] O_phy1_txd ;
output O_phy1_txen ;
output O_phy1_gtxclk ;
input [3:0] I_phy1_rxd ;
input I_phy1_rxdv ;
input I_phy1_rxc ;
output [7:0] test_d ;
output test_dv ;
output O_rst_n ;
wire clk ;
wire I_rst_n ;
wire O_phy_mdc ;
wire IO_phy_mdio ;
wire O_phy1_txen ;
wire O_phy1_gtxclk ;
wire I_phy1_rxdv ;
wire I_phy1_rxc ;
wire test_dv ;
wire O_rst_n ;
wire [3:0] Phy1_rxd0;
wire [7:0] test_d_2;
wire [3:0] I_phy1_rxd_c;
wire [3:0] O_phy1_txd_c;
wire [7:0] test_d_c;
wire GND ;
wire IODELAY_inst_dv1_DF ;
wire U_IDDR_dv1_Q1 ;
wire U_ODDR_en1_Q1 ;
wire U_ODDR_clk1_Q1 ;
wire \genblk1[0].un1_IODELAY_inst_dq1  ;
wire \genblk1[3].un1_IODELAY_inst_dq1  ;
wire \genblk1[2].un1_IODELAY_inst_dq1  ;
wire \genblk1[1].un1_IODELAY_inst_dq1  ;
wire Phy1_rxdv0 ;
wire Phy1_rxdv ;
wire \genblk3[3].un1_U_ODDR_dq1  ;
wire VCC ;
wire \genblk3[2].un1_U_ODDR_dq1  ;
wire \genblk3[0].un1_U_ODDR_dq1  ;
wire \genblk3[1].un1_U_ODDR_dq1  ;
wire I_rst_n_c ;
wire I_phy1_rxdv_c ;
wire I_phy1_rxc_c ;
wire O_phy1_txen_c ;
wire O_phy1_gtxclk_c ;
wire test_dv_c ;
  GSR GSR (
	.GSRI(VCC)
);
// @5:151
  DFF \test_d_Z[7]  (
	.Q(test_d_c[7]),
	.D(test_d_2[7]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[6]  (
	.Q(test_d_c[6]),
	.D(test_d_2[6]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[5]  (
	.Q(test_d_c[5]),
	.D(test_d_2[5]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[4]  (
	.Q(test_d_c[4]),
	.D(test_d_2[4]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[3]  (
	.Q(test_d_c[3]),
	.D(test_d_2[3]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[2]  (
	.Q(test_d_c[2]),
	.D(test_d_2[2]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[1]  (
	.Q(test_d_c[1]),
	.D(test_d_2[1]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF \test_d_Z[0]  (
	.Q(test_d_c[0]),
	.D(test_d_2[0]),
	.CLK(I_phy1_rxc_c)
);
// @5:151
  DFF test_dv_Z (
	.Q(test_dv_c),
	.D(Phy1_rxdv),
	.CLK(I_phy1_rxc_c)
);
// @5:25
  IBUF I_rst_n_ibuf (
	.O(I_rst_n_c),
	.I(I_rst_n)
);
// @5:34
  IBUF \I_phy1_rxd_ibuf[0]  (
	.O(I_phy1_rxd_c[0]),
	.I(I_phy1_rxd[0])
);
// @5:34
  IBUF \I_phy1_rxd_ibuf[1]  (
	.O(I_phy1_rxd_c[1]),
	.I(I_phy1_rxd[1])
);
// @5:34
  IBUF \I_phy1_rxd_ibuf[2]  (
	.O(I_phy1_rxd_c[2]),
	.I(I_phy1_rxd[2])
);
// @5:34
  IBUF \I_phy1_rxd_ibuf[3]  (
	.O(I_phy1_rxd_c[3]),
	.I(I_phy1_rxd[3])
);
// @5:35
  IBUF I_phy1_rxdv_ibuf (
	.O(I_phy1_rxdv_c),
	.I(I_phy1_rxdv)
);
// @5:36
  IBUF I_phy1_rxc_ibuf (
	.O(I_phy1_rxc_c),
	.I(I_phy1_rxc)
);
// @5:27
  OBUF O_phy_mdc_obuf (
	.O(O_phy_mdc),
	.I(GND)
);
// @5:28
  OBUF IO_phy_mdio_obuf (
	.O(IO_phy_mdio),
	.I(GND)
);
// @5:30
  OBUF \O_phy1_txd_obuf[0]  (
	.O(O_phy1_txd[0]),
	.I(O_phy1_txd_c[0])
);
// @5:30
  OBUF \O_phy1_txd_obuf[1]  (
	.O(O_phy1_txd[1]),
	.I(O_phy1_txd_c[1])
);
// @5:30
  OBUF \O_phy1_txd_obuf[2]  (
	.O(O_phy1_txd[2]),
	.I(O_phy1_txd_c[2])
);
// @5:30
  OBUF \O_phy1_txd_obuf[3]  (
	.O(O_phy1_txd[3]),
	.I(O_phy1_txd_c[3])
);
// @5:31
  OBUF O_phy1_txen_obuf (
	.O(O_phy1_txen),
	.I(O_phy1_txen_c)
);
// @5:32
  OBUF O_phy1_gtxclk_obuf (
	.O(O_phy1_gtxclk),
	.I(O_phy1_gtxclk_c)
);
// @5:38
  OBUF \test_d_obuf[0]  (
	.O(test_d[0]),
	.I(test_d_c[0])
);
// @5:38
  OBUF \test_d_obuf[1]  (
	.O(test_d[1]),
	.I(test_d_c[1])
);
// @5:38
  OBUF \test_d_obuf[2]  (
	.O(test_d[2]),
	.I(test_d_c[2])
);
// @5:38
  OBUF \test_d_obuf[3]  (
	.O(test_d[3]),
	.I(test_d_c[3])
);
// @5:38
  OBUF \test_d_obuf[4]  (
	.O(test_d[4]),
	.I(test_d_c[4])
);
// @5:38
  OBUF \test_d_obuf[5]  (
	.O(test_d[5]),
	.I(test_d_c[5])
);
// @5:38
  OBUF \test_d_obuf[6]  (
	.O(test_d[6]),
	.I(test_d_c[6])
);
// @5:38
  OBUF \test_d_obuf[7]  (
	.O(test_d[7]),
	.I(test_d_c[7])
);
// @5:39
  OBUF test_dv_obuf (
	.O(test_dv),
	.I(test_dv_c)
);
// @5:42
  OBUF O_rst_n_obuf (
	.O(O_rst_n),
	.I(I_rst_n_c)
);
// @5:141
  ODDR U_ODDR_clk1 (
	.Q0(O_phy1_gtxclk_c),
	.Q1(U_ODDR_clk1_Q1),
	.CLK(I_phy1_rxc_c),
	.D0(VCC),
	.D1(GND),
	.TX(VCC)
);
defparam U_ODDR_clk1.TXCLK_POL=1'b0;
defparam U_ODDR_clk1.INIT=1'b0;
// @5:131
  ODDR U_ODDR_en1 (
	.Q0(O_phy1_txen_c),
	.Q1(U_ODDR_en1_Q1),
	.CLK(I_phy1_rxc_c),
	.D0(GND),
	.D1(GND),
	.TX(VCC)
);
defparam U_ODDR_en1.TXCLK_POL=1'b0;
defparam U_ODDR_en1.INIT=1'b0;
// @5:121
  ODDR \genblk3[1].U_ODDR_dq1  (
	.Q0(O_phy1_txd_c[1]),
	.Q1(\genblk3[1].un1_U_ODDR_dq1 ),
	.CLK(I_phy1_rxc_c),
	.D0(GND),
	.D1(GND),
	.TX(VCC)
);
defparam \genblk3[1].U_ODDR_dq1 .TXCLK_POL=1'b0;
defparam \genblk3[1].U_ODDR_dq1 .INIT=1'b0;
// @5:121
  ODDR \genblk3[0].U_ODDR_dq1  (
	.Q0(O_phy1_txd_c[0]),
	.Q1(\genblk3[0].un1_U_ODDR_dq1 ),
	.CLK(I_phy1_rxc_c),
	.D0(GND),
	.D1(GND),
	.TX(VCC)
);
defparam \genblk3[0].U_ODDR_dq1 .TXCLK_POL=1'b0;
defparam \genblk3[0].U_ODDR_dq1 .INIT=1'b0;
// @5:121
  ODDR \genblk3[2].U_ODDR_dq1  (
	.Q0(O_phy1_txd_c[2]),
	.Q1(\genblk3[2].un1_U_ODDR_dq1 ),
	.CLK(I_phy1_rxc_c),
	.D0(GND),
	.D1(GND),
	.TX(VCC)
);
defparam \genblk3[2].U_ODDR_dq1 .TXCLK_POL=1'b0;
defparam \genblk3[2].U_ODDR_dq1 .INIT=1'b0;
// @5:121
  ODDR \genblk3[3].U_ODDR_dq1  (
	.Q0(O_phy1_txd_c[3]),
	.Q1(\genblk3[3].un1_U_ODDR_dq1 ),
	.CLK(I_phy1_rxc_c),
	.D0(GND),
	.D1(GND),
	.TX(VCC)
);
defparam \genblk3[3].U_ODDR_dq1 .TXCLK_POL=1'b0;
defparam \genblk3[3].U_ODDR_dq1 .INIT=1'b0;
// @5:108
  IDDR U_IDDR_dv1 (
	.Q0(Phy1_rxdv),
	.Q1(U_IDDR_dv1_Q1),
	.CLK(I_phy1_rxc_c),
	.D(Phy1_rxdv0)
);
// @5:99
  IODELAY IODELAY_inst_dv1 (
	.DF(IODELAY_inst_dv1_DF),
	.DO(Phy1_rxdv0),
	.DI(I_phy1_rxdv_c),
	.SDTAP(GND),
	.SETN(GND),
	.VALUE(GND)
);
defparam IODELAY_inst_dv1.C_STATIC_DLY=0;
// @5:87
  IDDR \genblk2[1].U_IDDR_dq1  (
	.Q0(test_d_2[1]),
	.Q1(test_d_2[5]),
	.CLK(I_phy1_rxc_c),
	.D(Phy1_rxd0[1])
);
// @5:87
  IDDR \genblk2[2].U_IDDR_dq1  (
	.Q0(test_d_2[2]),
	.Q1(test_d_2[6]),
	.CLK(I_phy1_rxc_c),
	.D(Phy1_rxd0[2])
);
// @5:87
  IDDR \genblk2[3].U_IDDR_dq1  (
	.Q0(test_d_2[3]),
	.Q1(test_d_2[7]),
	.CLK(I_phy1_rxc_c),
	.D(Phy1_rxd0[3])
);
// @5:87
  IDDR \genblk2[0].U_IDDR_dq1  (
	.Q0(test_d_2[0]),
	.Q1(test_d_2[4]),
	.CLK(I_phy1_rxc_c),
	.D(Phy1_rxd0[0])
);
// @5:71
  IODELAY \genblk1[1].IODELAY_inst_dq1  (
	.DF(\genblk1[1].un1_IODELAY_inst_dq1 ),
	.DO(Phy1_rxd0[1]),
	.DI(I_phy1_rxd_c[1]),
	.SDTAP(GND),
	.SETN(GND),
	.VALUE(GND)
);
defparam \genblk1[1].IODELAY_inst_dq1 .C_STATIC_DLY=0;
// @5:71
  IODELAY \genblk1[2].IODELAY_inst_dq1  (
	.DF(\genblk1[2].un1_IODELAY_inst_dq1 ),
	.DO(Phy1_rxd0[2]),
	.DI(I_phy1_rxd_c[2]),
	.SDTAP(GND),
	.SETN(GND),
	.VALUE(GND)
);
defparam \genblk1[2].IODELAY_inst_dq1 .C_STATIC_DLY=0;
// @5:71
  IODELAY \genblk1[3].IODELAY_inst_dq1  (
	.DF(\genblk1[3].un1_IODELAY_inst_dq1 ),
	.DO(Phy1_rxd0[3]),
	.DI(I_phy1_rxd_c[3]),
	.SDTAP(GND),
	.SETN(GND),
	.VALUE(GND)
);
defparam \genblk1[3].IODELAY_inst_dq1 .C_STATIC_DLY=0;
// @5:71
  IODELAY \genblk1[0].IODELAY_inst_dq1  (
	.DF(\genblk1[0].un1_IODELAY_inst_dq1 ),
	.DO(Phy1_rxd0[0]),
	.DI(I_phy1_rxd_c[0]),
	.SDTAP(GND),
	.SETN(GND),
	.VALUE(GND)
);
defparam \genblk1[0].IODELAY_inst_dq1 .C_STATIC_DLY=0;
  GND GND_cZ (
	.G(GND)
);
  VCC VCC_cZ (
	.V(VCC)
);
endmodule /* Gbit_PHY_test_RGMII */

